rf-action-select {
   display: block;

   &.inverted {
      .select-row {
         background: var(--main_color);
         color: white;
         &.pointer {
            cursor: pointer;
            &:hover {
               color: var(--main_color);
            }
         }
      }
   }

   .select-row {
      min-height: 32px;
      padding: 5px 5px;
      // min-width: 100px;
      background: white;
      border: 1px solid var(--main_color);
      color: var(--main_color);
      width: 100%;
      &.pointer {
         cursor: pointer;
         &:hover {
            background: var(--darkwhite);
         }
      }
      &.first {
         border-radius: 3px;
      }
   }

   .rf-btn {
      min-height: 32px;
      position: absolute;
      margin: 0 0 0 0;
      right: 0;
      top: 0;
      float: right;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      &:hover {
         margin: 0 0 0 0 !important;
         border-color: var(--main_color) !important;
      }
   }

   .pointer {
      .rf-btn {
         color: var(--main_color);
      }
   }
   .lower-select-container {
      width: 100%;
      z-index: 99;
      position: absolute;
      right: 0;
      .inner-select-container {
         width: 100%;
      }
   }
}
