<div class="rf-btn rf-btn-inverted hidden-sm hidden-md hidden-lg action-select-xs-handler" ng-click="toggle()" ng-show="ngModel[0]">
   <i class="fa fa-ellipsis-v"></i>
</div>
<div class="select-container" style="position: relative" ng-class="{'hidden': !ngModel[0]}">
   <div class="upper-select-container hidden-xs" ng-style="{ 'width': dynamicWidth }">
      <div
         class="select-row pointer first"
         ng-class="{'full': otherFunctions.length == 0, 'disabled': mainFunction.status == 'disabled'}"
         ng-click="selectFunction(mainFunction)"
         ng-attr-data-cy="{{ mainFunction ? 'rf-action-main-function-btn' : ''}}">
         <!-- we use data-cy here over "ng-attr-data-cy" to make sure the function is there, before cypress clicks the btn -->
         {{mainFunction.translation}}
      </div>
      <div class="select-row select-btn" ng-click="toggle()" ng-hide="otherFunctions.length == 0">
         <i class="fa fa-caret-down"></i>
      </div>
   </div>
   <div class="lower-select-container" ng-if="showOptions">
      <div class="inner-select-container" ng-style="{'width': dynamicWidthDropDown}">
         <div class="lower-select-row hidden-sm hidden-md hidden-lg" ng-click="selectFunction(mainFunction)">
            {{mainFunction.translation}}
         </div>
         <div class="lower-select-row" ng-repeat="item in otherFunctions" ng-click="selectFunction(item)" ng-class="{disabled: item.status == 'disabled'}">
            {{item.translation}}
         </div>
      </div>
   </div>
</div>
