<div class="rf-btn rf-btn-inverted hidden-sm hidden-md hidden-lg action-select-xs-handler" ng-click="toggle()" ng-show="ngModel[0] && responsive">
   <i class="fa fa-ellipsis-v"></i>
</div>
<div class="select-container" style="position: relative" ng-class="{'hidden': !ngModel[0]}">
   <div class="upper-select-container" ng-style="{ 'width': dynamicWidth }" ng-class="{ 'hidden-xs': responsive }">
      <div class="select-row select-btn" ng-click="toggle()" ng-hide="otherFunctions.length == 0">
         <i class="rf-icon rf-bars"></i>
      </div>
      <div
         class="select-row pointer first"
         ng-class="{'full': otherFunctions.length == 0, 'disabled': mainFunction.status == 'disabled'}"
         ng-click="selectFunction(mainFunction)"
         ng-attr-data-cy="{{ mainFunction ? 'rf-action-main-function-btn' : ''}}">
         <!-- we use data-cy here over "ng-attr-data-cy" to make sure the function is there, before cypress clicks the btn -->
         {{mainFunction.translation}}
      </div>
   </div>
   <div class="lower-select-container" ng-if="showOptions" ng-class="verticalDirection">
      <div class="inner-select-container" ng-style="{'width': dynamicWidthDropDown}">
         <div class="lower-select-row-icons" ng-if="iconFunctions.length > 0">
            <div
               class="rf-btn rf-btn-inverted rf-btn-grey"
               title="{{iconFunc.translation}}"
               data-cy="action-select-icon-func-{{iconFunc.icon}}"
               ng-repeat="iconFunc in iconFunctions track by $index"
               ng-click="selectFunction(iconFunc)"
               ng-class="{'right': iconFunc.right}">
               <i ng-class="iconFunc.icon"></i>
            </div>
         </div>
         <div
            class="lower-select-row hidden-sm hidden-md hidden-lg"
            ng-click="selectFunction(mainFunction)"
            ng-class="{'bold': mainFunction.bold}">
            {{mainFunction.translation}}
         </div>
         <div
            class="lower-select-row"
            data-cy="action-select-menu-func-{{item.label}}"
            ng-repeat="item in otherFunctions"
            ng-click="selectFunction(item)"
            ng-class="{disabled: item.status == 'disabled', 'bold': item.bold}">
            {{item.translation}}
         </div>
      </div>
   </div>
</div>
