<h1>automation.PRO</h1>

<h3>{{app.name}}, Version {{app.version}}</h3>
<h4>{{lang.build}} {{app.build}}</h4>

<h4>License</h4>
[2014] - [{{year}}] Rapidfacture GmbH. All Rights Reserved.
<br>
<br>
All information, intellectual and technical concepts contained herein are
property of Bernhard Römer and Marco Schulz, the main owners of Rapidfacture GmbH and are protected by trade secret or copyright law.
Dissemination of this information or reproduction of this material is strictly
forbidden unless prior written permission is obtained from Rapidfacture GmbH.
<br>
<br>
<a href="mailto:service@rapidfacture.com">service@rapidfacture.com</a>

<div ng-if="app.changelogFile">
   <br>
   <br>
   <rf-markdown ng-model="app.changelogFile" view-mode="true"></rf-markdown>
   <br>
   <br>
</div>
