<div class="rf-modal" ng-class="rfModal.type">
   <div class="active" ng-show="visible" ng-class="{'modal-child': (mode !== 'main') }">

     <div class="grey-layer" ng-click="greyLayerClick()"></div>

     <div class="box rf-box" ng-class="rfModal.size">
       <div class="header">
         {{rfModal.headerText}}
         <div class="actions">
            <span ng-show="showClosingInfo">{{lang.closeHere || 'Close here'}}</span>
           <button class="rf-btn rf-btn-inverted rf-btn-transparent" ng-click="rfModal.quit()"><i class="fa fa-times-circle"></i></button>
         </div>
       </div>

       <div class="modal-container row">
         <modal-body class="col-xs-12" data-cy="rf-modal-body">
           <!-- child directives are added here -->
         </modal-body>
       </div>
     </div>

   </div>
</div>
