<div class="rf-modal">
   <div ng-show="visible" ng-class="{active: fade }">

     <div class="grey-layer" ng-click="rfModal.quit()"></div>

     <div class="box rf-box" ng-class="rfModal.size">
       <div class="header">
         {{rfModal.headerText}}
         <div class="actions">
           <button class="rf-btn rf-btn-inverted rf-btn-transparent" ng-click="rfModal.quit()"><i class="fa fa-times-circle"></i></button>
         </div>
       </div>

       <div class="modal-container row">
         <modal-body class="col-xs-12" data-cy="rf-modal-body-confirm">
            <rf-modal-confirm lang="lang" modal="rfModal"></rf-modal-confirm>
         </modal-body>
       </div>
     </div>
   </div>
</div>
