/** mixin lib
 * mixins can be included to shorten scss
 * no need of prefixes like "-moz" or "-webkit"
 * examples over each mixin below show the usage in scss
 */

// @include transition(0.5s);
@mixin transition($time) {
     -webkit-transition: all $time ease-in-out;
     -moz-transition: all $time ease-in-out;
     -ms-transition: all $time ease-in-out;
     -o-transition: all $time ease-in-out;
     transition: all $time ease-in-out;
}
